<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>people</title>
</head>
<body>
PEOPLE
<p th:text="${user.getUsername()}">value</p>
<p th:text="${user.getEmail()}">value</p>
<p th:text="${user.getCars()}">value</p>

<a href="/users">exit</a>
<br>
<br>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">edit person</a>
<br>
<br>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>